@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:#2F4F4F;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Roboto Slab', serif;
}

.movie-container {
  margin: 20px 0;
}

.select {
  background-color: rgba(0, 0, 0, 0.4);
  color: #777;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.select:focus,
.select:hover {
  outline: none;
  border: 1px solid #6feaf6; 
}

.select option {
  background: #6feaf6;
  color: #000;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.container .screen img {
  height: 100%;
  width: 100%;
}

.seat {
  margin: 3px;
  font-size: 20px;
  color: #000;
  text-align: center;
  width: 20px;
  border-radius: 10px 10px 0 0;
}

.row-container .seat {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4); 
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.4);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 10px; 
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 8px;
}

.row-container {
  transform: rotateX(30deg);
}

.row {
  display: flex;
  justify-content: center;
}

.screen {
  background-color: #fff;
  height: 100px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-35deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 20px 0;
}

p.text span {
  color: #6feaf6;
}
